.formulario{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.formulario input{
    border-radius: 10px;
    align-content: center;
    
}

.btn-save{
    background-color: rgb(128, 128, 234);
    width: 50%;
    margin-left: 70px;
}